################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APICore/v16
/.vs/APICore/v15/Server/sqlite3/db.lock
/.vs
/BALCore
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/Core_BAL_Interfaces/obj
/Core_DAL_Interfaces/obj/Core_DAL_Interfaces.csproj.nuget.dgspec.json
/Core_Domain/obj/Core_Domain.csproj.nuget.dgspec.json
/NUnitCore_Docker/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
